/* [vars] */

/* #IMPORTS */

    /* ##SASS */
@use 'sass:list';
@use 'sass:map';

/* #FUNCTIONS */

    /* ##GET */
@function vars_getDynamicColors()
{
    $dynamicColors: ();

    @each $key, $value in $VARS_COLORS { $dynamicColors: map.set($dynamicColors, $key, var(--#{$key})); }

    @return $dynamicColors;
}

@function vars_getMapWithIndex($list...)
{
    $mapWithIndex: ();

    @for $i from 1 through list.length($list) { $mapWithIndex: map.set($mapWithIndex, $i, list.nth($list, $i))}

    @return $mapWithIndex;
}

@function vars_getMapWithFlag($flag: '', $map: ())
{
    $mapWithFlag: ();

    @each $key, $value in $map { $mapWithFlag: map.set($mapWithFlag, $flag + $key, $value)}

    @return $mapWithFlag;
}

@function vars_getMapForExport($mapForExport: (), $maps...)
{
    @each $map in $maps { $mapForExport: map.merge($mapForExport, $map); }

    @return $mapForExport;
}

/* #VARIABLES */

    /* ##GLOBALS */
$scrollBarSize: 9px;

$lgh1: #FFFFFF;
$lgh2: #E8E8EA;
$drk1: #181A2A;
$drk2: #242535;
$drk3: #141624;
$gry1: #BABABF;
$gry2: #97989F;
$gry3: #696A75;
$prm1: #4B6BFB;
$scd1: green;
$trt1: yellow;
$err1: red;
$scc1: greenyellow;

$bp1: 320px;
$bp2: 375px;
$bp3: 435px;
$bp4: 768px;
$bp5: 1024px;
$bp6: 1440px;

$g1 :  .4rem;
$g2 :  .6rem;
$g3 :  .8rem;
$g4 :   1rem;
$g5 : 1.2rem;
$g6 : 1.6rem;
$g7 :   2rem;
$g8 : 2.4rem;
$g9 : 3.2rem;
$g10:   4rem;
$g11: 4.8rem;

$br1:  6px;
$br2: 12px;

$fs1: 1.4rem;
$fs2: 1.6rem;
$fs3: 1.8rem;
$fs4:   2rem;
$fs5: 2.4rem;
$fs6:   3rem;
$fs7: 3.6rem;

$lh1:   2rem;
$lh2: 2.4rem;
$lh3: 2.6rem;
$lh4: 2.8rem;
$lh5: 3.2rem;
$lh6: 3.6rem;
$lh7:   4rem;

    /* ##THIS */
$VARS_FONT_FACES:
(
    /* ?FAMILY: string, PATHS: string | list, WEIGHT: false | number, STYLE: false | string, SPACE: false | number, HEIGHT: false | number */
    'WorkSans'           '/fonts/Work_Sans/WorkSans-Variable.ttf'                 false false false false,
    'SourceSerif4'       '/fonts/Source_Serif_4/SourceSerif4-Variable.ttf'        false false false false,
    'SourceSerif4Italic' '/fonts/Source_Serif_4/SourceSerif4-Italic-Variable.ttf' false false false false
);
$VARS_COLORS:
(
    lgh1: $lgh1,
    lgh2: $lgh2,
    drk1: $drk1,
    drk2: $drk2,
    drk3: $drk3,
    gry1: $gry1,
    gry2: $gry2,
    gry3: $gry3,
    prm1: $prm1,
    scd1: $scd1,
    trt1: $trt1,
    err1: $err1,
    scc1: $scc1
);
$VARS_DYNAMIC_COLORS: vars_getDynamicColors();
$VARS_BREAKPOINTS   : vars_getMapWithIndex($bp1, $bp2, $bp3, $bp4, $bp5, $bp6);
$VARS_GAPS          : vars_getMapWithIndex($g1, $g2, $g3, $g4, $g5, $g6, $g7, $g8, $g9, $g10, $g11);
$VARS_BORDER_RADIUS : vars_getMapWithIndex($br1, $br2);
$VARS_FONT_SIZE     : vars_getMapWithIndex($fs1, $fs2, $fs3, $fs4, $fs5, $fs6, $fs7);
$VARS_LINE_HEIGHT   : vars_getMapWithIndex($lh1, $lh2, $lh3, $lh4, $lh5, $lh6, $lh7);
$VARS_MAP_FOR_EXPORT: vars_getMapForExport(
    (scrollbarSize: $scrollBarSize,),
    $VARS_COLORS,
    vars_getMapWithFlag('bp', $VARS_BREAKPOINTS),
    vars_getMapWithFlag('g' , $VARS_GAPS),
    vars_getMapWithFlag('br', $VARS_BORDER_RADIUS),
    vars_getMapWithFlag('fs', $VARS_FONT_SIZE),
    vars_getMapWithFlag('lh', $VARS_LINE_HEIGHT)
);